.faq-container {
  margin: 20px 0;
}

.faq-item {
  margin-bottom: 15px;
  border: 1px solid var(--light-color);
  border-radius: 8px;
  overflow: hidden;
}

.faq-question {
  padding: 20px;
  background-color: var(--light-color);
  cursor: pointer;
  font-weight: bold;
  font-size: 1.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq-question-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  background-color: var(--background-color);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.faq-item[open] .faq-question-icon {
  transform: rotate(45deg);
}

.faq-answer {
  padding: 20px;
  background-color: var(--background-color);
  line-height: 1.6;
}

.faq-answer p {
  margin: 0 0 10px;
}

.faq-answer ul,
.faq-answer ol {
  margin: 10px 0;
  padding-left: 20px;
}

.faq-answer li {
  margin-bottom: 5px;
}

@media (width >= 900px) {
  .faq-container {
    margin: 30px 0;
  }

  .faq-question {
    padding: 25px;
    font-size: 1.2rem;
  }

  .faq-answer {
    padding: 25px;
  }
}